* {
	margin : 0;
	padding : 0;
	font-family: 'jejugothic', serif;
}

header {
	background-color: black;
	height : 40px;
	padding: 0 12px; /*상하 좌우 크기 */
	line-height : 40px; /*글자가 차지하는 높이 */
}

.top-nav {
	float : right;
}
.top-nav li{
	display: inline-block;
	margin-left: 18px;
}
a {
	text-decoration: none;
}

a.brand { 
	color:white;
	font-size : 24px;
} 

.top-nav li a {
	color: #dddddd;
	font-size : 0.8em;
}

.top-nav li:first-child a {
	color: #00aeef;
}
.top-nav li a:hover{
	color: #ffffff;
}
.top-nav li:first-child a:hover {
	color: #00cfff;
}
.navigation nav {
	background-image: url("http://img.uefa.com/imgml/uefacom/ucl/bg_header.jpg");
	background-position : 50%;
	padding : 10px 0;
}

.mid-nav {
	height : 50px;
	line-height: 50px;
}

.mid-nav li {
	list-style: none;
	float : left;
	width : calc(100% / 9);
	text-align: center;
}

.mid-nav li a {
	color : white;
	font-size : 0.9em;
	padding : 3px 8px;
}
.mid-nav li a:hover {
	border-radius: 3px;
	background-color: #00aeef;
}

.logoLink {
	display: block;
	height: 80px;
	width : 100%;
	text-indent: 100%;
	white-space: nowrap;
	background-image: url("http://img.uefa.com/imgml/uefacom/ucl/logo.svg");
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	overflow: hidden;
}

.navigation-container {
	background : radial-gradient(rgba(0,0,0,0),black);
	background : url("https://img.uefa.com/MultimediaFiles/Photo/competitions/Comp_Matches/02/44/96/03/2449603_UltraWide.jpg");
	background-size : cover;
	background-position : 50%;
	padding : 80px 40px 20px 40px;
}
.navigation-container h1 {
	color: white;
	margin-bottom: 20px;
}
.navigation-container ul {
	margin-left: 20px;
	color : #00aeef;

}
.navigation-container ul li {
	margin-bottom: 12px;
}
.navigation-container ul li a {
	color : #aad7f1;
}
.navigation-container ul li a:hover {
	color : #00aeef;
}
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

footer {
	background-image: url(" http://img.uefa.com/imgml/uefacom/ucl/footer_bg_XL.jpg");
	background-position : bottom;
	background-repeat: no-repeat;
	padding-bottom : 280px;

}
.footer-bottom {
	text-align: center;
	color : #cccccc;
	font-size : 12px;
	width: 60%;
	margin : 20px auto 0 auto;
}

.footer-mid {
	border-top: 1px solid rgba(170,215,241,0.2);
	border-bottom: 1px solid rgba(170,215,241,0.2);
	text-align:  center;
	padding:  10px 0;
}

.footer-mid ul li {
	display: inline-block;
	margin : 5px;
	list-style-type: none;
	color : white;
	font-size : 14px;
	cursor: pointer;
}

.footer-menu {
	width : calc(100% /5);
	float : left;

}
.footer-menu p {
	color: #709ccd;
	font-size : 16px;
	margin-bottom: 15px;
	margin-top: 0;
	text-transform: uppercase;
}

.footer-menu ul {
	margin-bottom: 15px;

}

.footer-menu ul li {
	color:white;
	margin : 5px;
	list-style-type:  none;
	font-size: 14px;
	cursor : pointer;
}

.footer-top {
	padding-left : calc(100% /6);
	min-height: 260px;
	padding-top : 80px;
	background-image: url("http://img.uefa.com/imgml/uefacom/ucl/logo.svg");
	background-repeat: no-repeat;
	background-position: 20px 80px;
	background-size: 80px 80px;
}
.container {
	background-image: url("http://img.uefa.com/imgml/uefacom/ucl/light_bg.svg");
	background-position: -150px 20px;
	background-repeat: no-repeat;
	background-size: 500px;
	padding-top : 40px;
}
.col {
	padding : 1em;
	box-sizing: border-box;
}
.c3 {
	width : 25%;
	float : left;
	color : red;
}
.row:after {
	content : " ";
	display : table;
	clear : both;
}
.tableTitle {
	color : #555555;
}
.table {
	width : 100%;
	border-spacing : 0;

}

.table th {
	font-size: 12px;
	color : #768398;
	text-align: center;
	padding : 8px;
	width : 10%;
	border-bottom : 2px solid #dddddd;
}

.table th:first-child {
	width : 80%;
}

.table > tbody tr td {
	height : 32px;
	line-height: 32px;
	padding : 8px;
	font-size : 14px;
	border-bottom : 1px solid #dddddd;
}

.table > tbody tr td:first-child {
	color : #555555;
}

.table > tbody tr td:nth-child(2){
	color : #768398;
}
.table > tbody tr td:last-child {
	color : #555555;
}
.rowTitle p{
	color: #2A4982;
	border-bottom : 1px solid #dddddd;
}

.rowTitle ~ .col {
	margin : 15px auto;
	color : #555555;
	background-color : #eeeeee;
	text-align: center;
	font-size : 15px;
	width: 80%;
}
.rowTitle ~ .col p{
	display : inline-block;
}

.rowTitle ~ .col p:first-child {
	text-align:right;
	width : 35%;
}
.rowTitle ~ .col p:last-child {
	width : 35%;
	text-align : left;
}
.rowTitle ~.col p:nth-child(2)
{
	color : #768398;
	width : 15%;
}
.row {
	width : 80%;
	margin-left : auto;
	margin-right : auto;
}